
<div class="container-fluid" style="padding-left: 10rem; padding-right: 10rem">
    <h1 class=" font-weight-light text-center">Compromiso con el Proyecto</h1>
    <small class="d-block text-uppercase font-weight-bold mb-3 text-center" >Modalidad de Donativos</small>
    <div class="row">


        <div *ngFor="let project of project_all" class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
            <div class="card shadow card-dlp">
                <img src="https://www.abogados.com.co/site/articles/cf/cd/0/43284/donaciones.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">{{project.name}}</h4>
                    <p *ngIf="project.type==1" class="align-right">{{project.cost|currency:'S/.'}}</p>
                    <p *ngIf="project.type==2" class="align-right">Registrar un monto voluntario.</p>
                    <div>
                        <p class="card-text">{{project.description}}</p>
                    </div>
                </div>
                <div class="card-body card-p">
                    <div class="col-md-12">
<!--                        <button class="btn btn-block btn-default" (click)="open(classic1, 'modal_mini', 'sm',project.cost)">-->
<!--                            Form-->
<!--                        </button>-->
                        <button class="btn btn-icon btn-3 btn-primary" style="background: #1a174d; border: none; width: 100%"
                                (click)="open(classic1, 'modal_mini', 'sm',project.cost)"
                                type="button">
                            <span class="btn-inner--icon"><i class="ni ni-bag-17"></i></span>
                            <span class="btn-inner--text">REALIZAR DONATIVO</span>
                        </button>
                        <ng-template #classic1 let-c="close"  let-d="dismiss">
                            <div class="modal-fluid">
                                <div class="modal-header">
                                    <h6 class="modal-title" id="modal-title-default">REGISTRO DE DATOS</h6>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="card-body px-lg-2 py-lg-2">

                                    <form #form action="https://api-lamb-pay.upeu.edu.pe/payment-online/pay" method="POST">

                                        <input type="hidden" class="form-control" id="_token" name="_token"
                                               placeholder="_token" value="QoBP4ocj8TzLgZK1KntfH8pvxurJOPacrJeMgEHs">
                                        <input type="hidden" class="form-control" id="id_entidad" name="id_entidad"
                                               placeholder="id_entidad" value="7124">
                                        <input type="hidden" class="form-control" id="id_depto" name="id_depto"
                                               placeholder="id_depto" value="5">
                                        <input type="hidden" class="form-control" id="id_comprobante"
                                               name="id_comprobante" placeholder="id_comprobante" value="00">
                                        <input type="hidden" class="form-control" id="id_persona" name="id_persona"
                                               placeholder="id_persona" value="">
                                        <input type="hidden" class="form-control" id="ruc" name="ruc" placeholder="ruc"
                                               value="">
                                        <input type="hidden" class="form-control" id="razonsocial" name="razonsocial"
                                               placeholder="razonsocial" value="">
                                        <input type="hidden" class="form-control" id="cod_transaccion"
                                               name="cod_transaccion" placeholder="cod_transaccion" value="7471">
                                        <input type="hidden" class="form-control" id="tokens" name="tokens"
                                               placeholder="tokens"
                                               value="8c0570cd1405058b269b185c82d59a012eaf8e3dd3dab6ac698f4f500d4ca7d99389424e03ad3ed57f0fb3c1f880c9379e96">
                                        <input type="hidden" class="form-control" id="id_aplicacion"
                                               name="id_aplicacion" placeholder="id_aplicacion" value="11">
                                        <input type="hidden" class="form-control" id="id_tipoventa" name="id_tipoventa"
                                               placeholder="id_tipoventa" value="5">
                                        <input type="hidden" class="form-control" id="id_moneda" name="id_moneda"
                                               placeholder="id_moneda" value="7">
                                        <input type="hidden" class="form-control" id="id_origen" name="id_origen"
                                               placeholder="id_origen" value="">
                                        <input type="hidden" class="form-control" id="parametros" name="parametros"
                                               placeholder="parametros" value="">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label for="id_tipodocumento">Tipo Documento</label>
                                                <select class="form-control" id="id_tipodocumento" name="id_tipodocumento" required>
                                                    <option value="1">DNI</option>
                                                    <option value="2">Carnet</option>
                                                    <option value="3">Pasaporte</option>
                                                    <option value="4">Otros</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label for="num_documento">Número Documento</label>
                                                <input type="text" class="form-control" id="num_documento"
                                                       name="num_documento" placeholder="Número Documento" required>
                                            </div>
                                        </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">
                                                    <label for="nombre">Nombres</label>
                                                    <input type="text" class="form-control" id="nombre" name="nombre"
                                                           placeholder="Nombres" required>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">
                                                    <label for="paterno">Apellido Paterno</label>
                                                    <input type="text" class="form-control" id="paterno" name="paterno"
                                                           placeholder="Apellido Paterno" required>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">
                                                    <label for="materno">Apellido Materno</label>
                                                    <input type="text" class="form-control" id="materno" name="materno"
                                                           placeholder="Apellido Materno" required>
                                                </div>
                                            </div>

                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label for="sexo">Sexo</label>
                                                <select class="form-control" id="sexo" name="sexo" required>
                                                    <option value="1">Masculino</option>
                                                    <option value="2">Femenino</option>
                                                </select>
                                            </div>
                                        </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">
                                                    <label for="direccion">Correo</label>
                                                    <input type="text" class="form-control" id="direccion"
                                                           name="direccion" placeholder="Correo" required>
                                                </div>
                                            </div>
                                            <div *ngIf="project.type==1"  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">
                                                    <label for="importe">Importe</label>
                                                    <input type="number" class="form-control" id="importe" name="importe"
                                                           placeholder="importe" required [value]="project.cost">
                                                </div>
                                            </div>
                                        <div *ngIf="project.type==2" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label for="importe">Importe</label>
                                                <input type="number" class="form-control" id="importe" name="importe"
                                                       placeholder="importe" required>
                                            </div>
                                        </div>
                                            <div class="modal-footer">
                                                <button style="background: #1a174d; border: none" type="submit" class="btn btn-success" (click)="form.submit()">
                                                    Enviar Datos
                                                </button>
                                                <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal"
                                                        (click)="c('Close click')">Cancelar
                                                </button>
                                            </div>
                                    </form>
                                </div>

                            </div>

                        </ng-template>
                    </div>



                    <div class="row">
<!--                        <div class="col col-xs-4 ">-->
<!--                            <i class="far fa-comments"></i> 456-->
<!--                        </div>-->
<!--                        <div class="col col-xs-4 ">-->
<!--                            <i class="far fa-heart"></i> 2.4k-->
<!--                        </div>-->
<!--                        <div class="col col-xs-4">-->
<!--                            <i class="fas fa-share"></i> 99-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
