
<div class="container-fluid" style="padding-left: 10rem; padding-right: 10rem">
    <h1 class=" font-weight-light text-center">Compromisos del Proyecto</h1>
    <small class="d-block text-uppercase font-weight-bold mb-3 text-center" >Modalidad de Donativos</small>
    <div class="row">


        <div *ngFor="let project of project_all" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="card shadow card-dlp">
                <img src="https://www.abogados.com.co/site/articles/cf/cd/0/43284/donaciones.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title">{{project.name}}</h2>
                    <h4 class="align-right">{{project.cost|currency:'S/.'}}</h4>
                    <div>
                        <p class="card-text">Some quick example text to build on
                            the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card-body card-p">
                    <div class="col-md-4">
<!--                        <button class="btn btn-block btn-default" (click)="open(classic1, 'modal_mini', 'sm',project.cost)">-->
<!--                            Form-->
<!--                        </button>-->
                        <button class="btn btn-icon btn-3 btn-primary float-left"
                                (click)="open(classic1, 'modal_mini', 'sm',project.cost)"
                                type="button">
                            <span class="btn-inner--icon"><i class="ni ni-bag-17"></i></span>
                            <span class="btn-inner--text">Donar</span>
                        </button>
                        <ng-template #classic1 let-c="close" let-d="dismiss">
                            <div class="modal-lg">
                                <div class="modal-header">
                                    <h6 class="modal-title" id="modal-title-default">REGISTRO DE DATOS</h6>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="card-body px-lg-2 py-lg-2">

                                    <form role="form">
                                        <div class="form-group">
                                            <label for="dni">DNI</label>
                                            <input type="text" class="form-control" id="dni" placeholder="DNI" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="nombres">Nombres</label>
                                            <input type="text" class="form-control" id="nombres" placeholder="Nombres" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="apellidos">Apellidos</label>
                                            <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email address</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1"
                                                   aria-describedby="emailHelp" placeholder="Enter email required">
                                            <!--                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                                        </div>
                                        <div class="form-group" *ngIf="project.type==1">
                                            <label for="montoe">Monto</label>
                                            <input type="text" class="form-control" id="montoe"
                                                   placeholder="Monto" disabled [value]="project.cost">
                                        </div>
                                        <div class="form-group" *ngIf="project.type==2">
                                            <label for="monto">Monto</label>
                                            <input type="text" class="form-control" id="monto"
                                                   placeholder="Monto" required >
                                        </div>

                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Enviar</button>
                                            <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal" (click)="c('Close click')">Close</button>

                                        </div>
                                    </form>
                                </div>

                            </div>

                        </ng-template>
                    </div>



                    <div class="row">
<!--                        <div class="col col-xs-4 ">-->
<!--                            <i class="far fa-comments"></i> 456-->
<!--                        </div>-->
<!--                        <div class="col col-xs-4 ">-->
<!--                            <i class="far fa-heart"></i> 2.4k-->
<!--                        </div>-->
<!--                        <div class="col col-xs-4">-->
<!--                            <i class="fas fa-share"></i> 99-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
